<section data-ng-controller="PlayController">
	<header>
		<ul class="text-center row-fluid">
      <li class="span3" ng-repeat="tool in tools">
        <a class="thumbnail" ng-click="tool.run()">
          {{tool.name}}
        </a>
      </li>          
      <li class="span3">
        <input type='range' floor="100" ceiling="1000" step="50" precision="2" ng-model="canvas.freeDrawingBrush.width">
      </li>
    </ul>
	</header>
    
  <div class="canvasWarpper">
    <canvas id="shard" style="border:1px solid #aaa"></canvas>
  </div>
  <button class="btn btn-primary" ng-click="save(canvas)">Save</button>
	<footer>
    <form>
		<label class="radio" ng-repeat='color in colors' style="background-color: {{color}}">
      <input type="radio" value="{{color}}" ng-model="canvas.freeDrawingBrush.color" ng-click='current_color=color'>
    </label>
    </form>
	</footer>

</section>
