<section data-ng-controller="PlayController">
	<header>
		<ul class="text-center row-fluid">
              <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="http://fakeimg.pl/100x100/00CED1/FFF/?text=menu+item">
                </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="http://fakeimg.pl/100x100/00CED1/FFF/?text=menu+item">
                </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="http://fakeimg.pl/100x100/00CED1/FFF/?text=menu+item">
                </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="http://fakeimg.pl/100x100/00CED1/FFF/?text=menu+item">
                </a>
              </li>
            </ul>
	</header>
	<h1> We're playing the game here </h1>
	<footer>
		<ul class="text-center row-fluid">
              <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="http://fakeimg.pl/100x100/00CED1/FFF/?text=menu+item">
                </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="http://fakeimg.pl/100x100/00CED1/FFF/?text=menu+item">
                </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="http://fakeimg.pl/100x100/00CED1/FFF/?text=menu+item">
                </a>
              </li>
              <li class="span3">
                <a href="#" class="thumbnail">
                  <img src="http://fakeimg.pl/100x100/00CED1/FFF/?text=menu+item">
                </a>
              </li>
            </ul>
	</footer>
</section>