.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:70px;
    width:100%;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer label{
    display: inline-block;
    width: 20px;
    height: 20px;
}

footer label input{
    display: none;
}


footer p {
    padding:5px 0 12px 10px
}

header{
    width: 100%
}

header > ul, footer >ul {
    margin-left: 0;
}
